name: CI

on: [push]

jobs:
  CI:
    name: continuos integration
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, ubuntu-latest]
        arch: [x86, x64]
        go: ['1.14']

    runs-on: ${{ matrix.os }}
    steps:

      - name: check out code
        uses: actions/checkout@v2

      - name: set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: build
        run: go build -o replacer ./cmd/replacer/

      - name: test
        run: go test ./... -race -covermode=atomic -coverprofile=coverage.txt .

      - name: Codecov
        uses: codecov/codecov-action@v1.0.10
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.txt