name: lint

on: [push, pull_request]

jobs:
  lint:
    name: check with golangci-lint
    runs-on: ubuntu-latest
    steps:

      - name: check out code
        uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
